@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method='post'>

    Name:
    <br>
    <input type='text' name='name'>
    <br>

    Skin type:
    <br>
    <select name='skintype'>
        <option value='oily'>Oily</option>
        <option value='combination'>Combination</option>
        <option value='normal'>Normal</option>
        <option value='dry'>Dry</option>
    </select>
    <br>

    Manicure or Pedicure?
    <br>
    <select name='manipedi'>
        <option value='manicure'>Manicure</option>
        <option value='pedicure'>Pedicure</option>
    </select>
    <br>

    <input type='submit' value='Submit'>
    <br/> <br/> <br/>
    <div class="container">
        <div class="row">
            <div class="col-2 p-3 mb-2 bg-danger text-white">Red</div>
            <div class="col-2 p-3 mb-2 bg-primary text-white">Blue</div>
            <div class="col-2 p-3 mb-2 bg-warning text-dark">Yellow</div>
            <div class="col-2 p-3 mb-2 bg-info text-white">Teal</div>

        </div>

    </div>

</form>